.projects {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
