.project {
  position: relative;
  width: 25%;
  aspect-ratio: 1/1;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  .text-box {
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(58, 65, 88);
    border: 1px solid #f4ebd0;
    color: #f4ebd0;
  }
}
